.header {
	box-shadow: 0 -5px 5px 5px rgba($color: #000000, $alpha: .1);
}

.wrapper {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.logoImage {
	max-width: 30px;
	&:hover {
		cursor: pointer;
	}
}